{% extends 'base.html' %}
{% block content %}
<main>
<div class="tm-container-inner tm-history">
				<div class="row">
					<div class="col-12">
						<div class="tm-history-inner">
							<img src="{{ product.get_image }}" alt="Image" class="img-fluid tm-history-img" />
							<div class="tm-history-text">
								<h4 class="tm-history-title">{{ product.name }}</h4>
                                <h6 style="color: black;" class="tm-history-title">{{ product.price }} $</h6>

								<p class="tm-mb-p">{{ product.description }}</p>
                                <small>{{ product.created }}</small>
							</div>
						</div>
					</div>
				</div>
			</div>

    <h1>{{ comment.body }}</h1>

	<div class="row">
		<div class="col-md-6">
			    {% for comment in product.comments.all %}

<div style="margin-left: 60px; margin-top: 30px;" class="tm-address-box">
							<h6 style="margin-bottom: 0px;" class="tm-info-title tm-text-success">aвтор: {{ comment.name }} </h6>
							<small>Дата создания: {{ comment.created }}</small>
							<p>
							{{ comment.body }}
							</p>

						</div>
			    {% endfor %}

		</div>
	<div style="margin-top: 30px;" class="col-md-6">

		<form action="{% url 'add-review' product.id %}" method="post" enctype="multipart/form-data" class="tm-contact-form">
	           <div class="form-group form-group tm-d-flex" >
                            {{ comment_form.as_p }}
        {% csrf_token %}



                                <button type="submit" class="tm-btn tm-btn-success">Publicte</button>
					        </div>
						</form>
	</div>
		</div>
</main>
{% endblock %}