{% extends 'base.html' %}

{% block content %}
    <main>


			<div class="tm-paging-links">
				<nav>
					<ul>
						<li class="tm-paging-item"><a href="" class="tm-paging-link active">Все</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link ">Мужские</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Женские</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">Смарт-часы</a></li>
					</ul>
				</nav>
			</div>

			<!-- Gallery -->
			<div class="row tm-gallery">
				<!-- gallery page 1 -->
				<div id="tm-gallery-page-Все" class="tm-gallery-page">
					{% for product in products %}
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% url 'detail' product.id %}">{{ product.name }}</a> </h4>
								<p class="tm-gallery-description">{{ product.description|truncatechars:50 }}</p>
								<p class="tm-gallery-price">{{ product.price }} $ </p>
							</figcaption>
						</figure>
					</article>
					{% endfor %}

				</div>

				<!-- gallery page 3 -->
				<div id="tm-gallery-page-Мужские" class="tm-gallery-page hidden">
					{% for product in men %}
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% url 'detail' product.id %}">{{ product.name }}</a> </h4>
								<p class="tm-gallery-description">{{ product.description|truncatechars:50 }}</p>
								<p class="tm-gallery-price">{{ product.price }} $ </p>
							</figcaption>
						</figure>
					</article>
					{% endfor %}

				</div>
				<!-- gallery page 3 -->
				<div id="tm-gallery-page-Женские" class="tm-gallery-page hidden">
					{% for product in women %}
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% url 'detail' product.id %}">{{ product.name }}</a> </h4>
								<p class="tm-gallery-description">{{ product.description|truncatechars:50 }}</p>
								<p class="tm-gallery-price">{{ product.price }} $ </p>
							</figcaption>
						</figure>
					</article>
					{% endfor %}

				</div>
				<!-- gallery page 4 -->
				<div id="tm-gallery-page-Смарт-часы" class="tm-gallery-page hidden">
					{% for product in smart %}
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% url 'detail' product.id %}">{{ product.name }}</a> </h4>
								<p class="tm-gallery-description">{{ product.description|truncatechars:50 }}</p>
								<p class="tm-gallery-price">{{ product.price }} $ </p>
							</figcaption>
						</figure>
					</article>
					{% endfor %}

				</div>
			</div>
			<div class="tm-section tm-container-inner">
				<div class="row">
					<div class="col-md-6">
						<figure class="tm-description-figure">
							<img src="img/img-01.jpg" alt="Image" class="img-fluid" />
						</figure>
					</div>
					<div class="col-md-6">
						<div class="tm-description-box">
							<h4 class="tm-gallery-title">Maecenas nulla neque</h4>
							<p class="tm-mb-45">Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. You will need to <a rel="nofollow" href="https://templatemo.com/contact">talk to us</a> for additional permissions about our templates. Thank you.</p>
							<a href="about.html" class="tm-btn tm-btn-default tm-right">Read More</a>
						</div>
					</div>
				</div>
			</div>
		</main>
{% endblock %}