{% extends 'base.html' %}
{% block title %}Search results{% endblock %}

{% block page %}Search results{% endblock %}
{% block content %}

    <main>

			<!-- Gallery -->
			<div class="row tm-gallery">
				<!-- gallery page 1 -->
				<div id="tm-gallery-page-Все" class="tm-gallery-page">
					{% for product in results %}
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{{ product.get_image }}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title"><a href="{% url 'detail' product.id %}">{{ product.name }}</a> </h4>
								<p class="tm-gallery-description">{{ product.description|truncatechars:50 }}</p>
								<p class="tm-gallery-price">{{ product.price }} $ </p>
							</figcaption>
						</figure>
					</article>
					{% endfor %}

				</div>



				</div>
			</div>



{% endblock %}